header{
    background: gray;
    padding: 20px;
}

.caixa {
    width: 940px;/*Altura*/
    position: relative; /*Fixa o Elemento absoluto dentro de uma caixa*/
    margin: 0 auto;
}
    
nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{ /* Todos os itens da lista que estão na TAG de navegação */
    display: inline;
    margin: 0 0 0 15px; /* As marginpropriedades CSS são usadas para criar 
    espaço ao redor dos elementos, fora de quaisquer bordas definidas. */
}

nav a{
    text-transform: uppercase; /* Deixa as letras em MAIÚSCULO*/
    color: black;
    font-weight: bolder; /* Peso da fonte*/
    font-size: 22px;
    text-decoration: none; /* Ausencia de decoração, ausencia de sublinhado*/
}

nav a:hover{
    color: #c78c19;
}

.produtos {
    width: 940px; /*Largura de 940px*/
    margin: 0px auto;/*Espaçamento lateral de 0px, para cima e para baixo e automático
    para os lados*/
    padding: 50px 0; /*Padding ajusta o espaçamento interno, padding 50px para cima 
    e para baixo e 0 para os lados*/   
}

.produtos li{
    display: inline-block; /*Estão ocupando o tamanho do conteúdo deles, só 1/3
    da página ou bloco e por isso um vai ficar do lado do outro */
    text-align: center;/*Centraliza o conteúdo*/
    width: 30%; 
    vertical-align: top; /*INLINE Block, alinha os elementos pela linha de baixo, 
    vertical align alinha pela linha de cima*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border:solid ;
    border-width: 2px;
    border-color: black;
    border-radius: 10px; /*Arredonda as bordas*/
}

.produtos li:hover{
    border-color: #c78c19; /*quando o usuário passa o cursor sobre o elemento*/

}

.produtos li:active {
    border-color: #088C19; /*active, quando um elemento está sendo ativado pelo usuário*/    
}

.produtos li:hover h2{
    font-size: 40px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold; /*font-weight: significa peso de fonte; e bolder*/
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 ;/*Para cima 10px, para os lados 0 e para baixo 0, mesmo que escrever:
    margin-top: 10px;*/ 
}

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px; 
}

main{
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend{
    display: block; /* Todo o conteúdo veio inline*/
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.chatbox{
    margin: 20px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px; /*Arredonda o botão*/
    transition: 1s all;/*Transição de 1 segundo do backgroud*/
    cursor: pointer;
}

.enviar:hover{ /*Passar o mouse em cima do elemento*/
    background: darkorange;
    transform: scale(1.2); /*transform: scale() para aumentar um elemento proporcionalmente*/

}

table{
    margin: 20px;
}

thead{
    background: gray;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black; /*Borda preta tamanho 1px, solida*/
    padding: 8px 15px; /*para cima e para baixo 8px e lateral 15px*/
}

